<!DOCTYPE html>
@{
    string webAppPath = ViewBag.WebAppPath == null ? "/" : (string)ViewBag.WebAppPath;
}
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Quill</title>

        <link rel="stylesheet" href="@(webAppPath)lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="@(webAppPath)css/site.css" />
    </head>
    <body>
        <div class="container body-content">
            @RenderBody()
        </div>
        <script src="@(webAppPath)lib/jquery/dist/jquery.js"></script>
        <script src="@(webAppPath)lib/bootstrap/dist/js/bootstrap.js"></script>

        @RenderSection("scripts", required: false)
    </body>
</html>
