<!DOCTYPE html>
@{
    string webAppPath = ViewBag.WebAppPath == null ? "/" : (string)ViewBag.WebAppPath;
}
<html>
    <head>
        <meta charset="utf-8" />
        @* <meta name="viewport" content="width=device-width, initial-scale=1.0" />  MWCTODO: restore this once you sort out responsiveness better  http://getbootstrap.com/getting-started/#disable-responsive *@
        <title>Quill</title>

        <environment names="Development">
            <link rel="stylesheet" href="@(webAppPath)lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="@(webAppPath)css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
                  asp-fallback-href="@(webAppPath)lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="@(webAppPath)css/site.css" asp-append-version="true" />
        </environment>
    </head>
    <body>
        <div class="container body-content" style="width: 1170px !important;"> @* MWCTODO: take this width override out once you sort out responsiveness *@
            @RenderBody()
        </div>
        <environment names="Development">
            <script src="@(webAppPath)lib/jquery/dist/jquery.js"></script>
            <script src="@(webAppPath)lib/bootstrap/dist/js/bootstrap.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="@(webAppPath)lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                    asp-fallback-src="@(webAppPath)lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
        </environment>

        @RenderSection("scripts", required: false)
    </body>
</html>
