<!DOCTYPE html>
@{
    string webAppPath = ViewBag.WebAppPath == null ? "/" : (string)ViewBag.WebAppPath;
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quill</title>
    <link rel="stylesheet" href="@(webAppPath)lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="@(webAppPath)css/site.css" />

    <!-- https://favicon.io/ made adding a nice looking favicon incredibly easy. Thanks John. -->
    <link rel="apple-touch-icon" sizes="180x180" href="@(webAppPath)apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="@(webAppPath)favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="@(webAppPath)favicon-16x16.png">
    <link rel="manifest" href="@(webAppPath)site.webmanifest">
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="@(webAppPath)lib/jquery/dist/jquery.min.js"></script>
    <script src="@(webAppPath)lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="@(webAppPath)js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
